<h5>Player: <%= session[:player_name] %></h5><br>
<h5>Money: <%= session[:player_money] %></h5>

<h6>Dealer's Hand: HIDDEN / <%= (session[:dealer_hand])[1] %></h6><br>
<h6><%= session[:player_name] %>'s Hand: <%= session[:player_hand] %> : <%= session[:player_value] %></h6>

<h5><%= session[:deck].count %>

<div>
	<p>Would you like to hit or stay?</p>
	<form action="/player_hit" method="post">
	<input type="submit" class="btn" value="Hit">
	</form>
	<form action="/player_stay" method="post">
	<input type="submit" class="btn" value="Stay">
	</form>
</div>